<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hralign.navigation">
    <uses-permission android:name="android.permission.INTERNET">
        </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LeaveActivity"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <activity
            android:name=".AttendenceActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".OdActivity"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <activity android:name=".MusterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>